/* move down content because we have navbar that is 50px tall */
body {
    /* padding-top: 50px; */
    padding-bottom: 20px;
}
.rk_login  {
    color: red;
}




.jumbotron {
    text-align: center;
    background-image: url(../images/hero_image.jpg);
    /* https://www.pxfuel.com/en/free-photo-xppgl/download */
    /* background-image: url(../images/car_sepia_2.jpg); */
    background-position: center;
    color: white;
    font-family: sans-serif;
    padding: 30px 48px 30px 48px;
}

.jumbotron h1 {
    font-family: 'Arvo', courier, serif;
    line-height: 1.1em;
    margin-bottom: 60px;
    font-size: 63px
}


.btn-lg {
    font-size: 36px;

}

.jumbotron p {
    color: white;
    font-size: 1.3em;
    padding: 0 50px 48px;
    margin-bottom: 30px;
}

.emphasis {
    color: #1951e7;
    font-size: 24px;
}

.homepage{
    /* color: red; */
    text-align: center;
}


.homepage a {
    text-decoration: none;
}
.homepage a:hover {
    /* text-decoration: underline; */
    color: #1951e7;
    opacity: 0.8;
}


.homepage h2, .homepage h3{
    color: #1951e7;
    font-family: 'Arvo', courier, serif;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
}

.homepage h2 {
    font-size: 30px;
}

.homepage h3 {
    font-size: 26px;
}

.homepage p {
    font-size: 21px;
    font-weight: 3git pu00;
}

.homepage a {
    color: #1951e7;
}



.homepage hr {
    width: 160px;
    margin: 10px auto 10px auto;
    color: #1951e7;
    border-top: 1px solid;
    opacity: 1;
}
