/* move down content because we have navbar that is 50px tall */
body {
    /* padding-top: 50px; */
    padding-bottom: 20px;
}
.rk_login  {
    color: red;
}

h1 {
    line-height: 1.5em;
}

.jumbotron {
    text-align: center;
    background-image: url(../images/hero_image.jpg);
    color: white;
    font-family: sans-serif;
    line-height: 1.8em;
}