/* move down content because we have navbar that is 50px tall */
body {
    /* padding-top: 50px; */
    padding-bottom: 20px;
}
.rk_login  {
    color: red;
}




.jumbotron {
    text-align: center;
    background-image: url(../images/hero_image.jpg);
    /* https://www.pxfuel.com/en/free-photo-xppgl/download */
    /* background-image: url(../images/car_sepia_2.jpg); */
    background-position: center;
    color: gold;
    font-family: sans-serif;
    padding-top: 2em;
}

.jumbotron h1 {
    font-family: 'Arvo', courier, serif;
    line-height: 1.1em;
    margin-bottom: 60px;
    font-size: 63px
}


.btn-lg {
    font-size: 36px;

}

.jumbotron p {
    color: gold;
    font-size: 1.3em;
    padding: 0 50px;
    margin-bottom: 30px;
}

.emphasis {
    color: #e74c3c;
    font-size: 24px;
}

.homepage{
    /* color: red; */
    text-align: center;
}

.homepage h2, .homepage h3{
    color: #e74c3c;
    font-family: 'Arvo', courier, serif;
    text-transform: uppercase;
}

.homepage h2 {
    font-size: 30px;
}

.homepage h3 {
    font-size: 26px;
}

.homepage p {
    font-size: 21px;
    font-weight: 300;
}

.homepage a {
    color: #e74c3c;

}



.homepage hr {
    width: 160px;
    margin: 10px auto 10px auto;
    color: #e74c3c;
    border-top: 1px solid;
    opacity: 1;
}
